/* Estilos da pagina professores */

.content-container > div img {
    width: 98%;
    border-radius: 90px;
    border: 10px double;
}

.content-container {
    padding: 20px;
}

.content-container h2.title {
    font-size: 1.5em;
}

@media screen and (mid-width: 992px) {
    .content-container > div img {
        width: 50%;
    }
    
}
